@import url("https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #000000 !important;
  color: #fff !important;
  font-family: "Mulish", sans-serif;
}

.App {
  display: flex;
  flex-wrap: wrap;
  margin: 1rem 0;
  column-gap: 1rem;
  row-gap: 1rem;
  justify-content: center;
}

.navbar-light .navbar-brand {
  color: #fff !important;
  font-weight: 900;
  letter-spacing: 3px;
}

.card {
  border: 1px solid #191f30 !important;
}
.card-body {
  background-color: #191f30;
  color: #fff !important;
}

.card-title {
  font-weight: 800 !important;
}

.card-text {
  margin: 0 !important;
}

.card-header {
  margin-top: 1rem;
  margin-bottom: 0.2rem;
  background-color: #000000;
  font-weight: 600 !important;
  color: #fff;
}

.card-header,
.list-group-item {
  padding: 0.2rem !important;
}

.list-group-flush > .list-group-item {
  background-color: #191f30;
  color: #fff !important;
}

.nodata {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 90vh;
  font-size: 2rem;
  font-weight: 700;
}

.containerx {
  margin: 1rem 0;
  display: inline-block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  /* border: 1px solid #000; */
}

.containerx input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.checkmark {
  position: absolute;
  top: 0.5rem;
  left: 0.5rem;
  height: 15px;
  width: 15px;
  content: url("./assets/plain.png") !important;
}

.containerx:hover input ~ .checkmark {
  background-color: transparent;
  content: url("./assets/heart.png") !important;
}

.containerx input:checked ~ .checkmark {
  content: url("./assets/heart.png") !important;
}

.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.containerx input:checked ~ .checkmark:after {
  display: block;
}

.containerx .checkmark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

@media (max-width: 996px) {
  .App {
    row-gap: 2rem;
  }

  .card {
    flex-basis: 80% !important;
  }
}
